/*body {
	background-image: url(pic/orgin/body-background.jpg);	
		}*/
._150x150{
	background-image: url(pic/150x150.png);
	width:150px;
	height:150px;
	}
.A{
	background-image:url(pic/_001-005/A.png)
	}
.B{
	background-image:url(pic/_001-005/B.png)
	}
.C{
	background-image:url(pic/_001-005/C.png)
	}
.D{
	background-image:url(pic/_001-005/D.png)
	}
.E{
	background-image:url(pic/_001-005/E.png)
	}
.F{
	background-image:url(pic/_001-005/F.png)
	}
._210x80{
	background-image: url(pic/210x80.png);
	width: 210px;
	height: 80px;
	background-repeat: no-repeat;
	}
._800x100{
	background-image: url(pic/800x100.png);
	width:800px;
	height:100px;
	background-repeat:no-repeat;
	}
._480x100{
	background-image: url(pic/800x100.png);
	width:480px;
	height:100px;
	background-repeat:no-repeat;
	}
._320x100{
	background-image: url(pic/800x100.png);
	width:320px;
	height:100px;
	background-repeat:no-repeat;
	}
._04{
	padding:-10px;
	border: none;
	background-image: url(pic/04.png);
	background-repeat:no-repeat;
	}
	
._no{
	background-image: none;
	}
	
.noBorderNoHeighlight{
    border: none;      /* Good browsers universal rule */
    outline: none;     /* safari and its variants  */
    outline-offset: 0; /* IE and its variants  */
    -webkit-appearance:none; /* Chrome and its variants  */
}	
.pic {
	top: -8px;
	left: -60px;
	position: relative;
	z-index: 2;
	filter: alpha(opacity=70);
	opacity: 0.7;
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	transition: background-size 0.2s;
	transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
	display: inline-block;
	width: 170px;
	height: 170px;
	text-decoration: none;
	cursor: pointer;
	}
.pic:hover {
    background-size: 170px;
}
.word {
	top: 24px;
	left: 9px;
	position: absolute;
	z-index: 1;
	background-image: url(pic/00.png);
	background-size: 170px;
	background-repeat: no-repeat;
	background-position: center;
	width: 170px;
	height: 170px;
	text-decoration: none;
	clear: none;
	margin: auto;
	}
	
#search input {
	background: none repeat scroll 0 0 #fff;
	border: 0 none;
	color: #7F7F7F;
	float: left;
	font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
	height: 20px;
	margin: 0;
	padding: 10px;
	transition: background 0.3s ease-in-out 0s;
	width: 300px;
}
#search button {
	height: 40px;
	transition: background 0.3s ease-in-out 0s;
	width: 40px;
	border: 2px solid #fff;
}

#search button:hover {
	background-color:#000;
}
.middle {
	margin-left:10%;
	color: #FFF;
}
.inner {
	color: #000;

}
.middle .inner ._001 {
	background-image: url(pic/520x226.png);
	width: 520px;
	height: 226px;
	margin-top: 50px;
}
.middle .inner td {
vertical-align:top;


}

.middle .inner ._002 {
	background-image: url(pic/520x511.png);
	height: 511px;
	width: 520px;
}
.middle .inner ._003 {
	background-image: url(pic/400x475.png);
	height: 475px;
	width: 400px;
	float:right;
	margin-top: 50px;

}
.middle .inner ._004 {
	background-image: url(pic/453X460.png);
	height: 460px;
	width: 453px;
	margin-top: 50px;
}
.middle .inner ._005 {
	background-image: url(pic/480X102.png);
	height: 102px;
	width: 480px;
	clear:right;
	margin-top: 50px;
	

}
.middle .inner ._005M {
	height: 50px;
	width: 100%;
		clear:right;
}
.under {
	color: #FFF;
	background-color:transparent;
	margin-top:25px;
		margin-left:7%;
}
.under ._001 {
	background-image: url(pic/354X66.png);
	height: 66px;
	width: 354px;
	float:left;

}
.under ._002 {
	background-image: url(pic/372X333.png);
	height: 333px;
	width: 327px;
    clear:left;
	margin-left:50px;
	z-index:0;
}
.under ._003 {
	background-image: url(pic/700X386_t.png);
	height: 386px;
	width: 700px;
	position:absolute;
	left:430px;
	margin-top:10px;
		z-index:1;
}
.under ._004 {
	background-image: url(pic/540X405_t.png);
	height: 504px;
	width: 540px;
	position:absolute;
	left:600px;
	margin-top:-380px;
	background-repeat:no-repeat;
		z-index:0;
}
.downbelow {
	background-image: url(pic/1034x288.png);
	height: 288px;
	width: 1034px;
	margin-left:10%;
	margin-top:10%;
	background-repeat:no-repeat;
}

.site {
padding: 15px 0 15px;
font-size: 14px;
text-align: center;
	color:#fff;

}

.site li{

display:inline;	
	}

.corporate {
padding: 15px 0 15px;
font-size: 14px;
text-align: center;
	color:#fff;

}

.corporate li{
	display:inline;
	}
.black_glass{
	background-color:rgba(172, 172, 172, 0.2);
	}
.white_wall{
	background-image:url(pic/white-brick.jpg)
	}
.B3 h5{
	color:#066;
	`}
.red_star{
	border: none;
	border-radius: 6px;
	  background: #b82c4c url(pic/red.jpg);
  color: white;
  text-shadow: 0 1px #66182a;
  font-size:200%;
  font-family:"標楷體";
}
.tick-red li {
	list-style-image:url(pic/A3/tick-red.png);

	}
.div_left{
	left:30%;
}
.div_left{
	left:30%;
}
