/*body {
	background-image: url(pic/orgin/body-background.jpg);	
		}*/
._no{
	background-image: none;
	}
	
.noBorderNoHeighlight{
    border: none;      /* Good browsers universal rule */
    outline: none;     /* safari and its variants  */
    outline-offset: 0; /* IE and its variants  */
    -webkit-appearance:none; /* Chrome and its variants  */
}	